<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Vanhack challenge</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<div class="panel panel-primary default-color" style="margin: 0 auto;width: 50%;">
		<div class="panel-heading default-color">
			<h1 class="panel-title">Vanhack Challenge</h1>
		</div>
		<form class="form-inline" method="POST" th:object="${location}" th:action="@{/init}" style="margin: 20px 20px">
			<div class="form-group">
				<input type="text" name="inputX" id="inputX" class="form-control" placeholder="X" th:field="*{valueX}" /> 
				<input type="text" id="inputY" class="form-control" placeholder="Y" />
				<button type="submit" class="btn btn-primary">Go!</button>
				
			</div>
		</form>
		<div id="map" style="width:590px;height:400px;margin: 0 auto;">
	</div>
	<script>
	navigator.geolocation.getCurrentPosition(showPosition);
	var myLatLng = {lat:  position.coords.latitude, lng: position.coords.longitude};
	function showPosition(position) {
		//-23.5845287,-46.7014521
		document.getElementById("inputX").value =  -23.5845287;
		document.getElementById("inputY").value = -46.7014521;
		
		 
		
			
	}
		function myMap() {
		
			var mapOptions = {
			        center: new google.maps.LatLng(-23.5845287,-46.7014521),
			        zoom: 15,
			        mapTypeId: google.maps.MapTypeId.HYBRID
			    }
			 var map = new google.maps.Map(document.getElementById("map"), mapOptions);
				
			 var marker = new google.maps.Marker({
		          position: new google.maps.LatLng(-23.5845287,-46.7014521),
		          map: map,
		          title: 'Your Position!'
		        });
		}
</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBa8mPI3jgw6L5YPfhkXTyaZmzsTJEwwWc&callback=myMap"></script>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>