<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Vanhack challenge</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<div class="panel panel-primary default-color" style="margin: 0 auto;width: 50%;">
		<div class="panel-heading default-color">
			<h1 class="panel-title">Vanhack Challenge</h1>
		</div>
		<form class="form-inline" method="POST" th:object="${location}" th:action="@{/init}" style="margin: 20px 20px">
			<div class="form-group">
				<input type="text" name="inputX" id="inputX" class="form-control" placeholder="X" th:field="*{valueX}" /> 
				<input type="text" id="inputY" class="form-control" placeholder="Y" />
				<button type="submit" class="btn btn-primary">Go!</button>
				
			</div>
		</form>
		
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>